* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 30px;
    font: 12px Helvetica, Arial, sans-serif
    line-height: 1.62;
}

a {
    text-decoration: none;  /* 消除所有链接的下划线 */
}

a img {
    border-width: 0;
    vertical-align: middle;
}

ul, ol {
    list-style: none;
}

form {
    margin: 0;
    padding: 0;
    border: 0px;
}

input {
    outline: none;
    margin-right: 3px;
    vertical-align: middle;
}

/*导航部分样式*/
#nav {
    width: 950px;
    margin: 0 auto 25px;
}

#nav .nav-links {
    float: right;
    margin-top: 6px;
}

#nav .nav-links li {
    display: inline-block;
    margin: 0 0 0 17px;
}

#nav .nav-links li a {
    display: inline-block;
    width: 40px;
    height: 20px;
    overflow: hidden;
    margin: 0;
    line-height: 20em;
    vertical-align: middle;
    background: transparent url("image/anony_nav_logo.png") no-repeat 100% 100%;
}

#nav .nav-links li .link-book {
    background-position: 0 0;
}

#nav .nav-links li .link-movie {
    background-position: -60px 0;
}

#nav .nav-links li .link-music {
    background-position: -120px 0;
}

#nav .nav-links li .link-group {
    background-position: -180px 0;
}

#nav .nav-links li .link-events {
    background-position: -240px 0;
}

#nav .nav-links li .link-fm {
    background-position: -300px 0;
}

#nav .nav-links li .link-dongxi {
    background-position: -360px 0;
}

#nav .nav-links li .link-market {
    background-position: -421px 0;
}

#nav h1 {
    display: inline-block;
    vertical-align: middle;
    width: 160px;
    height: 34px;
    margin: 0 20px 0 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    background: url("image/logo_db.png") no-repeat 0 0;
}

#nav h1 a {
    display: block;
    height: 34px;
    text-indent: -9999px;
}

#nav .search {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 270px;
    height: 30px;
    border: 1px solid #c3c3c3;
}

#nav .search .input {
    display: block;
    height: 30px;
    overflow: hidden;
}

#nav .search .input input {
    width: 240px;
    border: none;
    font-size: 13px;
    height: 20px;
    padding: 5px;
    outline: none;
}

#nav .search .button {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    background: url("image/bn_srh_1.png") no-repeat 50% 50%;
}

#nav .search .button input {
    border: none;
    background: transparent;
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    color: transparent;
}


/*登录及注册部分样式*/
#reg-new {
    margin-bottom: 25px;
    background: #eef4ed;
}

.wrapper {
    width: 950px;
    margin: 0 auto;
}

#reg-new .wrapper {
    position: relative;
    padding: 28px 0 4px;
    height: 182px;
    background: url("image/doubanapp3.png") no-repeat -75px top;
}


#reg-new .wrapper:after {
    content: " ";
    display: block;
    clear: both;
}

#reg-new .login {
    width: 270px;
    height: 131px;
    float: right;
    z-index: 2;
    margin-bottom: 15px;
}

#reg-new .login fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#reg-new .login legend {
    display: none;
}

#reg-new .login .item {
    margin-bottom: 4px;
}

#reg-new .login .item .input {
    border: 1px solid #DBE5DB;
    border-radius: 2px;
    width: 252px;
    padding: 0 8px;
    line-height: 30px;
    height: 30px;
    font-size: 12px;
}

#reg-new .login .item-password.item {
    position: relative;
    background-color: #ffffff;
}

#reg-new .login .item-password.item .input {
    border: 0;
    width: 220px;
}

#reg-new .login .item.item-password .opt {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 12px;
    line-height: 35px;

}

#reg-new .login .item.item-password .opt a {
    color: #cccccc;
}

#reg-new .login .item-captcha {
    position: relative;
}

#reg-new .login .item-captcha img {
    width: 158px;
    height: 26px;
    vertical-align: middle;
    position: absolute;
    right: 6px;
    top: 3px;
}

#reg-new .login .item-submit {
    margin-top: 6px;
}

#reg-new .login .item, #reg-new .login .item-submit {
    vertical-align: top;
    text-align: left;
}

#reg-new .login .btn-submit {
    padding: 0 22px;
    margin-right: 0;
    height: 30px;
    font-size: 12px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background: #30A080;
    border-color: #30A080;
    color: #fff;
    width: 89px;
    box-sizing: content-box;
}

#reg-new .link-reg {
    display: inline-block;
    padding: 8px 21px 7px;
    border: 1px solid #30A080;
    width: 89px;
    margin-left: -1px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    color: #30A080;
}

#reg-new .login .item-action {
    font-size: 12px;
    margin-top: 8px;
    color: #666666;
    vertical-align: middle;
}

#reg-new .login .item-action label{
    vertical-align: middle;
}


#reg-new .app {
    position: absolute;
    height: 120px;
    top: 0;
    bottom: 0;
    z-index: 2;
    margin: auto 0 auto 400px;
}

#reg-new .app-title {
    margin: 7px 0;
    font-size: 25px;
    color: #111;
    line-height: 24px;
    font-family: "Microsoft Yahei", sans-serif;
}

#reg-new .app-title span {
    color: #666666;
    margin-left: 10px;
    font-weight: 100;
}

#reg-new .app-slogan {
    /*margin: 0 0 18px;*/
    color: #111111;
    text-align: justify;
}

#reg-new .app-slogan span {
    font-size: 12px;
}

#reg-new .app-slogan span:after {
    content: "";
    display: inline-block;
    width: 100%
}

#reg-new .link-app {
    background: #3CA353;
    color: #ffffff;
    display: inline-block;
    padding: 9px 21px 8px;
    margin-right: 2px;
    vertical-align: top;
    font-size: 12px;
    line-height: 1;
}

#reg-new .app-qr {
    display: inline-block;
}

#reg-new .link-qr {
    display: inline-block;
    border: 1px solid #48aa0d;
    border-radius: 2px;
}

